<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/nav.ejs')%>
    <main class="centered">
        <h1> <%= prod.name %></h1>
        <hr>
        <div>
            <img src="<%= prod.image %>" alt="<%= prod.name %>">
        </div>
        <h2> <%= prod.location %></h2>      
    </main> 

<%- include('../includes/tail.ejs')%>