<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/nav.ejs')%>
    <main class="centered">
        <h1> <%= prod.name %></h1>
        <hr>
        <div>
            <img src="<%= prod.image %>" alt="<%= prod.name %>">
        </div>
        <h2> Lat: <%= prod.location.coordinates[1] %>&deg; </h2>      
        <h2> Long: <%= prod.location.coordinates[0] %>&deg; </h2>      
    </main> 

<%- include('../includes/tail.ejs')%>